/**ADMIN STYLES**/
.event_video .margin {
margin: 10px 0;
}

.event_video div label {
width: 125px;
float: left;
}

.req {
    bottom: 5px;
    color: red;
    left: 5px;
    position: relative;
}

.bold { font-weight:600; }
